/* Hooper slider */
.hooper-track {
  height: 100%;
  list-style: none;
}

.hooper-slide {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  position: relative;
  outline: none;
}

.hooper-pagination {
  margin-bottom: 40px;
  z-index: 9;

  .hooper-indicator {
    background: map-get($colors, white);
    border-radius: 100%;
    margin: 0 5px;
    outline: none;
    height: 15px;
    width: 15px;

    &.is-active {
      background: map-get($colors, gold);
    }
  }
}

.h-auto {
  .hooper-list {
    height: auto;
  }
}
